*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    font-size: 100%;
}

.container{
    width: 90vmin;
    height: 90vmin;
    border-radius: 50%;
    margin: 5vmin auto;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main{
    background-color: pink;
    background: linear-gradient(to bottom, rgba(0,0,0,0.55), rgba(0,0,0,0.7),rgba(0,0,0,0.85),rgba(0,0,0,1));
    box-shadow: -3px -3px 5px rgba(0,0,0,0.55);
}

h1, #tribute-info{
    /* background-color: cyan;
    border: 1px solid black;  */
    line-height: 5rem;
}

#main h1{
    font-size: 4rem;
    text-shadow: 1px 1px 3px rgba(255,255,255,0.9);
}

#img-div{
    width: 60%;
    height: 60%;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.55), rgba(0,0,0,0.7),rgba(0,0,0,0.85),rgba(0,0,0,1));
    text-shadow: 1px 1px 1px rgba(255,255,255,0.9);
    box-shadow: 3px 3px 5px rgba(255,255,255,0.55);
}

#tribute-info{
    color: #aaa;
}
